page,
	.content { 
		height: 100%; 
		padding: 0rpx 0; 
	}
	.tips{
		margin-left:25rpx;
	}
    .process-order{
        width:750rpx;
        text-align: center;
        .process-img{
            width: 200rpx;
            height: 200rpx; 
        }
        .process-text{
            color:$font-color-light
        }
    }  
    .getmore{
        width:750rpx;
        text-align: center;
        color:$font-color-base;
        margin:45rpx 0;
    }
  
	/*顶部搜索栏*/
	.search-bar-overlay {
		z-index: 100;
		position: fixed;
		background: rgba(255, 255, 255, 0.9);
		height: 100vh;
		width: 100%;
	}

	.search { 
		width: 500rpx;
		margin: 0 auto 50rpx auto; 
	}

	.search,
	.search_position,
	.search_box {
		display: flex;
		align-items: center;
		text-align: center; 
	} 
	.search { 
		.search_box {
			width: 500rpx;
			background: rgba(118, 118, 128, 0.12);
			border-radius: 30rpx;
			padding: 8rpx 0;
			margin: auto; 
			.close { 
				font-size:20px;
				padding: 0rpx;
				margin-right: 30rpx; 
				line-height: 30rpx;
				widows: 30rpx;;
			}
			.search_img {
				display: inline-block;
				width: 32rpx;
				height: 32rpx;
				margin: 0 16rpx;
			}

			.search_input {
				width: 446rpx;
				height: 30rpx; 
			}

			.search_talk {
				width: 24.78rpx;
				height: 32rpx;
				margin-right: 16rpx;
			}
		}
	}

	/*顶部导航*/
	.top {
		width: 100%;
		background: #FFFFFF; 
		z-index: 10;  
		margin-top: 0rpx;
		border:1px solid #ffffff;
        .topsearch{  
            margin:15rpx 20rpx; 
            .sn-earch-input-box{
                width: 710rpx; 
            }  
        }
		.navbar-top {
			display: flex;
			width: 750rpx;
            text-align: center; 
			padding: 15rpx 40rpx;
            padding-top:60rpx;
			margin-bottom: 24rpx;
			justify-content: space-between;
			align-items: center;  
			.navbar-top-text {
				flex: 1;
				text-align: center;
				font-size: 35rpx; 
				color: #515151;
			} 
		}

		.navbar-bottom {
			display: flex;
			justify-content: space-around;
			background: #fff;
			font-size: 24rpx;
			line-height: 46rpx;
			padding: 0 28rpx;

			.navitem {
				flex: 0 0 82rpx; 
				color: #888888;
				text-align: center;
			}

			.current {
				color: #ff8d0e;
				border-bottom: 4rpx solid #FF8D0E;
			}
		}
	}

	 
	